* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #ffffff;
  color: #00aeef;
  /* margin: 0 3%; */
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #572e91;
}

h3 {
  font-weight: 400;
  font-size: 1.3rem;
  color: #562e90;
}

i {
  color: #562e90;
}

p {
  font-weight: 400;
  font-size: 0.8rem;
  color: #2f2f2f;
}

h5 {
  font-weight: 400;
  color: #00aeef;
  font-size: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;
  min-height: 5vh;
  width: 100%;

}


.header-left {
  display: flex;
}

.header-links {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

.nav-links a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 2rem 1rem;
  color: #00aeef;
}



.hr-tag {
  padding-top: 0.4%;
}

.hr-tag hr {
  background-color: #572e91;
  width: 96%;
  margin: auto;
}

.container{
  margin: auto;
  margin-top: 5%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  
}

.container img{
  border-radius: 50%;
  width: 15rem;
}

.contact-us {
  padding: 3% 2%;
  padding-left: 4%;
  width: 75%;
}

.form-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form h5 {
  color: #717171;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.custom-radio label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #572e91;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radio input[type="radio"] + label span img {
  opacity: 0;
  width: 30px;
  height: auto;
  transition: all 0.3s ease;
}

.custom-radio input[type="radio"]:checked + label span img {
  width: 30px;
  height: auto;
  opacity: 1;
}

.custom-radio h5 {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 5px 0 0;
  color: #7c7c7c;
}

input {
  width: 30%;
  margin: 20px 20px 20px 0;
  padding: 12px;
  border: 1px solid #572e91;
  border-radius: 15px;
}

input[type="radio"] {
  width: 20px;
  border: 1px solid #572e91;
  font-size: 16px;
}

input::placeholder {
  font-family: "Lato", sans-serif;
  color: #717171;
  font-size: 16px;
}

textarea::placeholder {
  font-family: "Lato", sans-serif;
  color: #717171;
}

button {
  width: 30%;
  margin: 20px 20px 20px 0;
  padding: 12px;
  color: #fff;
  background-color: #572e91;
  border: none;
  border-radius: 15px;
}

button h5 {
  text-align: left;
  color: #fff;
  font-weight: 700;
  padding-left: 3px;
}

textarea {
  width: 62%;
  margin: 20px 20px 20px 0;
  padding: 12px;
  border: 1px solid #572e91;
  border-radius: 15px;
}

.textarea {
  margin: 0;
}

table{ 
  margin: auto;
  margin-top: 2%;
  width: 60%;

}


th{
  background-color: #562e90;
  height: 40px;
}
td{
  height: 30px;
  text-align: center;
}

.proj{
  margin: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.card{
  display: flex;
  flex-direction: column;
  border: solid 2px #562e90;
  border-radius: 20px;
  margin: 1%;
  padding: 20px;
  width: 20%;
}

.card img{
  border-radius: 20px;
  margin-bottom: 8px;
}

.card h5{
  margin-bottom: 3px;
}

.card button{
  margin-top: 10px;
}

.icons a{
  color: #562e90;
  text-decoration: none;
}